<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EsyaStore</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/EsyaStore.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar middlebrand  navbar-expand-lg navbar-light bg-light fixed-top shadow-sm">
            <div class="container text-center">
                <a class="navbar-brand loginnav fw-bold text-dark-green fs-3" asp-area="" asp-page="/Index">EsyaStore</a>
            </div>
        </nav>
    </header>

    <div class="container mt-5 pt-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* <footer class="footer border-top text-muted py-4 bg-light-green">
    <div class="container text-center">
    &copy; 2024 - EsyaStore - <a href="#" class="text-dark-green">Privacy</a>
    </div>
    </footer> *@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
