@page
@model EsyaStore.Pages.SellerUI.SellerRegistrationModel
@{
}


<div class="login">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="register-form">
                    <h2>Seller Registration Form</h2>
                    <div class="row">
                        <form method="post">
                            <div class="col-md-6">
                                <label asp-for="tempSellerRegister.Name">Name</label>
                                <input asp-for="tempSellerRegister.Name" class="form-control">
                                <span asp-validation-for="tempSellerRegister.Name"></span>
                            </div>
                           
                            <div class="col-md-6">
                                <label asp-for="tempSellerRegister.Email">Email</label>
                                <input asp-for="tempSellerRegister.Email" class="form-control">
                                <span asp-validation-for="tempSellerRegister.Email"></span>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="tempSellerRegister.Contact">Contact</label>
                                <input asp-for="tempSellerRegister.Contact" class="form-control">
                                <span asp-validation-for="tempSellerRegister.Contact"></span>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="tempSellerRegister.Password">Password</label>
                                <input asp-for="tempSellerRegister.Password" class="form-control">
                                <span asp-validation-for="tempSellerRegister.Password"></span>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="tempSellerRegister.Location">Location</label>
                                <input asp-for="tempSellerRegister.Location" class="form-control">
                                <span asp-validation-for="tempSellerRegister.Location"></span>
                            </div>
                           
                            <div class="col-md-12">
                                <button type="submit" class="btn">Submit</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
