@page
@model EsyaStore.Pages.Checkouts.CheckOutPageModel
@{
}

<div class="checkout">
    <div class="container-fluid">
        <form method="post">
        <div class="row">
            <div class="col-lg-8">
                <div class="checkout-inner">
                    <div class="billing-address">
                        <h2>Billing Address</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                                <input class="form-control" type="text" placeholder="Name">
                            </div>
                            
                            <div class="col-md-6">
                                <label>E-mail</label>
                                <input class="form-control" type="text" placeholder="E-mail">
                            </div>
                            <div class="col-md-6">
                                <label>Mobile No</label>
                                <input class="form-control" type="text" placeholder="Mobile No">
                            </div>
                           
                            <div class="col-md-12">
                               <label asp-for="tempBillAddress.Address">Address</label>
                               <input asp-for="tempBillAddress.Address" class="form-control">
                               <span asp-validation-for="tempBillAddress.Address"></span>
                            </div>
                           
                            <div class="col-md-6">
                                    <label asp-for="tempBillAddress.City">City</label>
                                    <input asp-for="tempBillAddress.City" class="form-control">
                                    <span asp-validation-for="tempBillAddress.City"></span>
                            </div>
                            <div class="col-md-6">
                                    <label asp-for="tempBillAddress.State">State</label>
                                    <input asp-for="tempBillAddress.State" class="form-control">
                                    <span asp-validation-for="tempBillAddress.State"></span>
                            </div>
                            <div class="col-md-6">
                                    <label asp-for="tempBillAddress.ZIPCode">ZipCode</label>
                                    <input asp-for="tempBillAddress.ZIPCode" class="form-control">
                                    <span asp-validation-for="tempBillAddress.ZIPCode"></span>
                            </div>

                            
                        </div>
                    </div>

                    
                </div>
            </div>
            <div class="col-lg-4">
                <div class="checkout-inner">
                    <div class="checkout-summary">
                        <h1>Cart Total</h1>
                            <p>@Model.itemproducts.ProductName<span>₹@Model.itemproducts.ProductPrice</span></p>
                            <p class="sub-total">Sub Total<span>₹@Model.itemproducts.ProductPrice</span></p>
                            <p class="ship-cost">Shipping Cost<span>₹200</span></p>
                          <h2>Grand Total <span>₹@(@Model.itemproducts.ProductPrice + 200)</span></h2>

                    </div>

                    <div class="checkout-payment">
                        
                        <div class="checkout-btn">
                            <button type="submit">Place Order</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       </form>
    </div>
</div>