@page
@model EsyaStore.Pages.Product.CartModel
@{
}
<h1>My Cart</h1>
<div class="container">
    @{
            if (Model.CartProducts == null)
            {
                <p class="text-danger">No Items in Cart </p>
                <button class="btn-primary ">
                    <a class="text-decoration-none text-light" asp-page="/Product/Index">Check Products</a>
                </button>
            }
            else
            {
                

        foreach(var prods in Model.CartProducts)
        {   
        <div class="card d-grid">
        <div class="row">
        <div class="col-4">
                <span class="btn-danger position-absolute top-0 float-end text-center" style="width:30px;">
                    <form method="post" asp-page-handler="DeleteFromCart">
                        <input type="hidden" name="cartId" value="@prods.CartId" />
                        <button type="submit">X</button>
                    </form>
                </span>
        <img class="card-img" src="~/uploads/@prods.Product.ProdImgUrl" alt="Alternate Text" style="height:30vh; width:20vw;" />
        </div>
        <div class="col-8"  >
        <p class="card-title">@prods.Product.ProductName</p>
        <p class="card-text">@prods.Product.ProductPrice</p>
        </div>
        </div> 
    </div>
        <form method="post" asp-page-handler="Order">
        <input type="submit"  value="Buy Now" class="btn btn-primary" />
        </form>
        
        
        }
            
        }
            }
            
    
</div>
