@page
@model EsyaStore.Pages.UserUI.UserRegisterModel
@{
}

<div class="login">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="register-form">
                    <h2>User Registration</h2>
                    <div class="row">
                        <form method="post">
                        <div class="col-md-6">
                            <label asp-for="tempUserRegistration.Name">Name</label>
                            <input asp-for="tempUserRegistration.Name" class="form-control">
                            <span asp-validation-for="tempUserRegistration.Name"></span>
                        </div>
                        
                        <div class="col-md-6">
                                <label asp-for="tempUserRegistration.Email">Email</label>
                                <input asp-for="tempUserRegistration.Email" class="form-control">
                                <span asp-validation-for="tempUserRegistration.Email"></span>
                        </div>
                        <div class="col-md-6">
                                <label asp-for="tempUserRegistration.Password">Password</label>
                                <input asp-for="tempUserRegistration.Password" class="form-control">
                                <span asp-validation-for="tempUserRegistration.Password"></span>
                        </div>
                        <div class="col-md-6">
                                <label asp-for="tempUserRegistration.Contect">Contact</label>
                                <input asp-for="tempUserRegistration.Contect" class="form-control">
                                <span asp-validation-for="tempUserRegistration.Contect"></span>
                        </div>

                        <div class="col-md-12">
                            <button type="submit" class="btn">Submit</button>
                        </div>

                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
