@page
@model EsyaStore.Pages.UserUI.UserLoginModel
@{
}


<div class="login">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="register-form">
                    <h2>User Login</h2>
                    <div class="row">
                        <form method="post">
                            
                            <div class="col-md-6">
                                <label asp-for="tempUserLogin.Email">Email</label>
                                <input asp-for="tempUserLogin.Email" class="form-control">
                                <span asp-validation-for="tempUserLogin.Email"></span>
                            </div>
                           
                            <div class="col-md-6">
                                <label asp-for="tempUserLogin.Password">Password</label>
                                <input asp-for="tempUserLogin.Password" class="form-control">
                                <span asp-validation-for="tempUserLogin.Password"></span>
                            </div>
                            
                            <div class="col-md-12">
                                <button type="submit" class="btn">Submit</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
