@page
@model EsyaStore.Pages.ProductUI.AddProductModel
@{
}


<div class="login">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="register-form">
                    <h2>Add a Product</h2>
                    <div class="row">
                        <form method="post" enctype="multipart/form-data">
                            <div class="col-md-6">
                                <label asp-for="tempAddProduct.ProductName">Product Name</label>
                                <input asp-for="tempAddProduct.ProductName" class="form-control">
                                <span asp-validation-for="tempAddProduct.ProductName"></span>
                            </div>

                            <div class="col-md-6">
                                <label asp-for="tempAddProduct.ProductDescription">Product Description</label>
                                <input asp-for="tempAddProduct.ProductDescription" class="form-control">
                                <span asp-validation-for="tempAddProduct.ProductDescription"></span>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="tempAddProduct.ProductPrice">Product Price</label>
                                <input asp-for="tempAddProduct.ProductPrice" class="form-control">
                                <span asp-validation-for="tempAddProduct.ProductPrice"></span>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="tempAddProduct.ProductQuantity">Product Quantity</label>
                                <input asp-for="tempAddProduct.ProductQuantity" class="form-control">
                                <span asp-validation-for="tempAddProduct.ProductQuantity"></span>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="tempAddProduct.ProductCategory">Product Category</label>
                                <input asp-for="tempAddProduct.ProductCategory" class="form-control">
                                <span asp-validation-for="tempAddProduct.ProductCategory"></span>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="tempAddProduct.Manufacturer">Product Manufacturer / Brand</label>
                                <input asp-for="tempAddProduct.Manufacturer" class="form-control">
                                <span asp-validation-for="tempAddProduct.Manufacturer"></span>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="tempAddProduct.ProductImage">Product Img</label>
                                <input type="file" accept="image/*" asp-for="tempAddProduct.ProductImage" class="form-control">
                                <span asp-validation-for="tempAddProduct.ProductImage"></span>
                                    
                            </div>

                            <div class="col-md-12">
                                <button type="submit" class="btn">Submit</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
